.webhandle-file-tree-image-browser-colors() {
	@webhandle-file-tree-image-box-background: #eeeeee;
	@webhandle-file-tree-image-selected-box-hightlight: blue;
}

.webhandle-file-tree-image-browser-colors();

.webhandle-file-tree-image-browser {
	--webhandle-file-tree-image-box-background: @webhandle-file-tree-image-box-background;
	--webhandle-file-tree-image-selected-box-hightlight: @webhandle-file-tree-image-selected-box-hightlight;

	.image-browser {
		.image-browser-frame {
			position: relative;
			display: grid;
			grid-template-columns: minmax(300px, 30%) 1fr;
			column-gap: 20px;
			background-color: white;

			& > .treebox {
				height: 800px;
				position: relative;
			}
		}

		
		.node-content {
			position: relative;
		}
		.box-holder {
			position: absolute;
			box-sizing: border-box;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			overflow: auto;
			padding-right: 20px;
			padding-bottom: 20px;
			padding-top: 3px;
			padding-left: 3px;
		}
		
		.node-view {
			display: grid;
			grid-template-rows: auto 1fr auto;
		}
		
		.choice-boxes {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 20px;
			row-gap: 20px;
		}
		
		.variant-choice-box {
			padding: 10px;
			border-radius: 5px;
			box-shadow: 1px 1px 5px #cccccc;
			-webkit-user-select: none; /* Safari */
			user-select: none; /* Standard syntax */

			.img {
				display: grid;
				aspect-ratio: 1.6;
				position: relative;
				
				.thumbnail-icon {
					font-size: 70px;
				}

				& > span {
					grid-column: 1;
					grid-row: 1;
					justify-self: center;
					align-self: center;
				}
				
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					max-width: 100%;
					max-height: 100%;
				}
			}
			
			.bottom {
				display: grid;
				grid-template-columns: 1fr auto;
				.basename {
					display: inline;
				}
				
				.extensions {
					display: inline-flex;
					column-gap: 5px;
				}
				
				.actions {
					button {
						border: 0;
						background: none;
						cursor: pointer;
					}
				}
			}
			
			&.selected {
				box-shadow: 1px 1px 10px var(--webhandle-file-tree-image-selected-box-hightlight);
			}
			&.hidden {
				display: none;
			}
		}
		
		
		.bottom-controls {
			display: grid;
			grid-template-columns: 1fr auto;
			padding-right: 34px;
			padding-top: 10px;
		}

		.img-drop-cover {
			position: absolute;
			inset: 0;
			background-color: rgba(255, 255, 255, .8);
			z-index: -1;
			
			display: grid;
			column-gap: 30px;
			row-gap: 30px;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(4, 1fr);
			transition: opacity .3s;
			opacity: .2;
			
			.drop-type {
				display: flex;
				align-items: center;
				justify-content: center;
				
				border: solid 1px black;
				border-radius: 5px;
				box-shadow: 1px 1px 5px #cccccc;
				background-color: fade(@webhandle-file-tree-image-box-background, 70%);
			}
			
			.guided-upload {
				grid-row: 1 / span 4;
				grid-column: 1 / span 2;
			}
			.automatic {
				grid-row: 1 / span 3;
				grid-column: 3;
			}
			.literal {
				grid-row: 4;
				grid-column: 3;
			}

		}
		
		&.file-dropping {
			.img-drop-cover {
				z-index: 2;
				opacity: 1;
			}
		}

	}


	.extension-pill {
		padding: 3px 5px;
		border-radius: 5px;
		background-color: var(--webhandle-file-tree-image-box-background);
	}
	
	.radio-options {
		label {
			display: inline-block;
			position: relative;
			input[type=radio] {
				position: absolute;
				display: inline-block;
				left: -10000px;
			}
			input[type=radio]:not(:checked) + .extension-pill {
				background-color: transparent;
			}
			
		}
	}
}